

<h2 align="center"><strong>Title: <%= @article.title %></strong></h2>
  <div class="well col-sm-8 col-sm-offset-2">
    <div align="center">
    <div class="row center">
      <div class="col-md-4 col-md-offset-4">
        <div class="listing">
          <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
          <div class="article-title" style="margin-left:10px;"><%= link_to @article.user.username, user_path(@article.user) %></div>
          <div><%= pluralize(@article.user.articles.count, "articles") %></div>
        </div>
      </div>
    </div>
    </div>

    <h3 align="center"><strong>Description:</strong></h4>
    <hr>
     <h4> <%= simple_format(@article.description) %></h4>
    <div class="article-actions">
    <%= link_to 'List all Articles', articles_path, class: "btn btn-md btn-success" %>
   <% if logged_in? && current_user == @article.user %>
     <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm:"Are you sure you want to delete the article?"}, class: "btn btn-md btn-danger" %>
     <%= link_to 'Edit Article', edit_article_path(@article), class: "btn btn-md btn-primary" %>
   <% end %>
  </div>
 </div>
