<h2 align="center"> Welcome to <%= @user.username %>'s page</h2>
<div class="row">
  <div class="col-sm-4 col-sm-offset-5 center">
   <%= gravatar_for(@user) %>
  </div>
</div>

<h4 align="center"><%= @user.username %>'s Articles</h4>

<div align="center">
  <%= will_paginate @user_articles%>
</div>
<%= render 'articles/listartciles', obj: @user_articles %>
<div align="center">
  <%= will_paginate @user_articles%>
</div>



